{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<header class="container-fluid">
        <div class="row">
            <div class="pizza_week col-12">
                <div class="container-fluid">
                    <div class="row">
                        <h1 class="col-11 offset-1">PIZZAS DE LA SEMAINE</h1>
                        <div class="puzzle puzzle-red col-2 offset-1">
                            <img src="images/Pizza2.jpg" alt="Pizza">
                            <h3>CAPRICIOSA</h3>
                            <div class="price">
                                <p class="old-price">12,50€</p>
                                <p class="price">9,50€</p>
                            </div>
                            <a href="#" class="order-button">COMMANDER</a>
                        </div> 
                        <div class="puzzle puzzle-red col-2 offset-2">
                            <img src="images/Pizza2.jpg" alt="Pizza">
                            <h3>CAPRICIOSA</h3>
                            <div class="price">
                                <p class="old-price">12,50€</p>
                                <p class="price">9,50€</p>
                            </div>
                            <a href="#" class="order-button">COMMANDER</a>
                        </div> 
                        <div class="puzzle puzzle-red col-2 offset-2">
                            <img src="images/Pizza2.jpg" alt="Pizza">
                            <h3>CAPRICIOSA</h3>
                            <div class="price">
                                <p class="old-price">12,50€</p>
                                <p class="price">9,50€</p>
                            </div>
                            <a href="#" class="order-button">COMMANDER</a>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="pizza_month col-6">
                <div class="container-fluid">
                    <div class="row">    
                        <h1 class="col-10 offset-2">PIZZA DU MOIS</h1>
                        <div class="puzzle puzzle-yellow col-4 offset-4">
                            <img src="images/Pizza2.jpg" alt="Pizza">
                            <h3>DELICIOSO (POTM)</h3>
                            <div class="price">
                                <p class="price">9,50€</p>
                            </div>
                            <a href="#" class="order-button">COMMANDER</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews col-6">
                <div class="container-fluid">
                    <div class="row">
                        <h1 class="col-10 offset-2">ÉVALUATIONS</h1>
                        <div class="col-10 offset-1 review-carousel owl-carousel">
                            <div class="review-box">
                                <div class="review-box-infos">
                                    <h6>"Lorem ipsum dolor sit amet consectetur adispicing elit"</h6>
                                    <div class="review-box-details">
                                        <div class="review-box-date">30-02-2021</div>
                                        <div class="review-box-author">Laurent I.</div>
                                    </div>
                                </div>
                                <div class="review-box-stars stars">
                                    <input type="radio" class="fas" disabled value="10">
                                    <input type="radio" class="fas" disabled value="9">
                                    <input type="radio" class="fas" disabled checked value="8">
                                    <input type="radio" class="fas" disabled value="7">
                                    <input type="radio" class="fas" disabled value="6">
                                    <input type="radio" class="fas" disabled value="5">
                                    <input type="radio" class="fas" disabled value="4">
                                    <input type="radio" class="fas" disabled value="3">
                                    <input type="radio" class="fas" disabled value="2">
                                    <input type="radio" class="fas" disabled value="1">
                                </div>
                            </div>
                            <div class="review-box">
                                <div class="review-box-infos">
                                    <h6>"Lorem ipsum dolor sit amet consectetur adispicing elit"</h6>
                                    <div class="review-box-details">
                                        <div class="review-box-date">30-02-2021</div>
                                        <div class="review-box-author">Laurent I.</div>
                                    </div>
                                </div>
                                <div class="review-box-stars">
                                    <div class="review-box-stars stars">
                                        <input type="radio" class="fas" disabled value="10">
                                        <input type="radio" class="fas" disabled checked value="9">
                                        <input type="radio" class="fas" disabled value="8">
                                        <input type="radio" class="fas" disabled value="7">
                                        <input type="radio" class="fas" disabled value="6">
                                        <input type="radio" class="fas" disabled value="5">
                                        <input type="radio" class="fas" disabled value="4">
                                        <input type="radio" class="fas" disabled value="3">
                                        <input type="radio" class="fas" disabled value="2">
                                        <input type="radio" class="fas" disabled value="1">
                                    </div>
                                </div>
                            </div>
                            <div class="review-box">
                                <div class="review-box-infos">
                                    <h6>"Lorem ipsum dolor sit amet consectetur adispicing elit"</h6>
                                    <div class="review-box-details">
                                        <div class="review-box-date">30-02-2021</div>
                                        <div class="review-box-author">Laurent I.</div>
                                    </div>
                                </div>
                                <div class="review-box-stars">
                                    <div class="review-box-stars stars">
                                        <input type="radio" class="fas" disabled checked value="10">
                                        <input type="radio" class="fas" disabled value="9">
                                        <input type="radio" class="fas" disabled value="8">
                                        <input type="radio" class="fas" disabled value="7">
                                        <input type="radio" class="fas" disabled value="6">
                                        <input type="radio" class="fas" disabled value="5">
                                        <input type="radio" class="fas" disabled value="4">
                                        <input type="radio" class="fas" disabled value="3">
                                        <input type="radio" class="fas" disabled value="2">
                                        <input type="radio" class="fas" disabled value="1">
                                    </div>
                                </div>
                            </div>
                            <div class="review-box">
                                <div class="review-box-infos">
                                    <h6>"Lorem ipsum dolor sit amet consectetur adispicing elit"</h6>
                                    <div class="review-box-details">
                                        <div class="review-box-date">30-02-2021</div>
                                        <div class="review-box-author">Laurent I.</div>
                                    </div>
                                </div>
                                <div class="review-box-stars">
                                    <div class="review-box-stars stars">
                                        <input type="radio" class="fas" disabled value="10">
                                        <input type="radio" class="fas" disabled value="9">
                                        <input type="radio" class="fas" disabled value="8">
                                        <input type="radio" class="fas" disabled checked value="7">
                                        <input type="radio" class="fas" disabled value="6">
                                        <input type="radio" class="fas" disabled value="5">
                                        <input type="radio" class="fas" disabled value="4">
                                        <input type="radio" class="fas" disabled value="3">
                                        <input type="radio" class="fas" disabled value="2">
                                        <input type="radio" class="fas" disabled value="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $(".review-carousel").owlCarousel({
                items: 2,
                margin: 15,
                loop: true,
                dots: false,
                autoplay: true,
            });
        });
    </script>
{% endblock %}
