{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% set title = "Home" %}

{% block body %}
    <header class="container-fluid">
        <div class="row">
            <div class="pizza_week col-12">
                <div class="container-fluid">
                    <div class="row">
                        <h1 class="col-11 offset-1">PIZZAS DE LA SEMAINE</h1>
                        {% for pizza in promosPizzas %}
                            {% include "partials/_puzzle.html.twig" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="pizza_month col-6">
                <div class="container-fluid">
                    <div class="row">    
                        <h1 class="col-10 offset-2">PIZZA DU MOIS</h1>
                        {% for pizza in potm %}
                            {% include "partials/_puzzle.html.twig" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="reviews col-6">
                <div class="container-fluid">
                    <div class="row">
                        <h1 class="col-10 offset-2">DERNIÈRES ÉVALUATIONS</h1>
                        <div class="col-10 offset-1 review-carousel owl-carousel">
                            {% for review in reviews %}
                                {% include "partials/_review.html.twig" %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block javascripts %}
    <script>
    // When document has loaded
        $(document).ready(function(){
            // Create the carousel
            $(".review-carousel").owlCarousel({
                // 2 items at the time
                items: 2,
                // de facto margin
                margin: 15,
                // loop it
                loop: true,
                // no menu
                dots: false,
                // autoplay as you read
                autoplay: true,
            });
        });
    </script>
{% endblock %}
