
<div class="review-box">
    <div class="review-box-infos">
        <h6>"{{review.review}}"</h6>
        <div class="review-box-details">
            <div class="review-box-date">{#{{review.reviewedOrder.date}} #}</div>
            <div class="review-box-author">{{review.reviewedOrder.customer.evaluationName}}</div>
        </div>
    </div>
    <div class="review-box-stars stars">
        {% for i in 10..1 %}
            <input type="radio" class="fas" {% if review.averageRating == i %}checked{% endif %} disabled value="{{i}}">
        {% endfor %}
    </div>
</div>