<footer>
    <div class="container-fluid">
        <div class="row p-3">
            <hr class="col-2">
            <p class="mx-3">(c) EPSE LADP 2020 - WEBD2</p>
            <hr class="col">
        </div>
    </div>
</footer>