<nav class="container-fluid">
    <ul class="row">
        <li class="col-1 offset-3">
            <a href="{{path('home')}}">ACCUEIL</a>
        </li>
        <li class="col-1">
            <a href="#">À PROPOS</a>
        </li>
        <li class="col-2">
            <img src="images/Pizza_Puzzle1.png" alt="Logo Pizzle's">
        </li>
        <li class="col-1">
            <a href="#">MENU</a>
        </li>
        <li class="col-1">
            <a href="#" class="menu-button">COMMANDER</a>
        </li>
        <li class="col-2 offset-1">
            <a href="#" class="menu-button">MON COMPTE</a>
        </li>
    </ul>
</nav>